header
    nav.navbar.navbar-expand-lg.navbar-light.bg-light
        .container-fluid 
            a(href="/").navbar-brand ¿Buscas Hotel?
            button(type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation").navbar-toggler
                span.navbar-toggler-icon
            .collapse.navbar-collapse#navbarNavDropdown
                ul.navbar-nav 
                    li.nav-item
                        i.fas.fa-hotel
                            a(href="/hoteles").fw-normal.mx-1.text-li.text-style-none Hoteles