extends layout

block content
    .container.d-flex.justify-content-center.align-items-center.container-search
        section.w-50
            h1.text-center.my-4='¿Buscas Hotel?'
            form(action="/hoteles", method="GET").p-2.input-group 
                input(type="text" placeholder="Ciudad, nombre hotel..." name="query" required).form-control
                button(type="submit").btn.btn-outline-primary#button-search='Buscar'